[Desktop Entry]
Type=Application
Exec=sh -c "copyq; sleep 2; copyq show"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=CopyQ
Name=CopyQ
Comment[en_US]=Auto launch CopyQ
Comment=Auto launch CopyQ