---
# System configuration and packages - Essential host layer components
system:
  locale: en_US.UTF-8
  timezone: Europe/Paris
  apt:
    - apt-transport-https
    - ca-certificates
    - gnupg-agent
    - software-properties-common
    - util-linux-extra
    - systemd
    - dconf-cli
    - python3-psutil
    - curl
    - wget
    - unzip
    - cron
    - htop
    - flatpak
  favorites:
    - gnome-control-center.desktop
    - org.gnome.Nautilus.desktop

# Browser domain
browser:
  flatpak:
    - org.chromium.Chromium
    - org.torproject.torbrowser-launcher
  favorites:
    - org.chromium.Chromium.desktop
    - org.torproject.torbrowser-launcher.desktop

# Communication domain
communication:
  flatpak:
    - com.slack.Slack
  favorites:
    - com.slack.Slack.desktop

# Development domain
development:
  projects_directory: "/home/{{ ansible_user }}/Documents/dev-projects"
  flatpak:
    - com.visualstudio.code
    - com.usebruno.Bruno
  favorites:
    - com.visualstudio.code.desktop
    - org.gnome.Terminal.desktop
  # Git configuration
  git:
    user_name: "Emilien Escalle"
    user_email: "emilien.escalle@escemi.com"
    default_branch: "main"
    push_default: "simple"
    pull_rebase: false
    editor: "nvim"
    gpg_sign: true
  # Shell configuration
  shell:
    aliases:
      cat: "bat --style=plain"
      ll: "ls -alF"
      la: "ls -A"
      l: "ls -CF"
      # Security aliases to prevent dangerous git operations
      ggl: "echo '\\e[31mUse \\e[1;31mggfl\\e[0m!' && return 1"
      gcam: "echo '\\e[31mUse \\e[1;31mgcasm\\e[0m!' && return 1"
      "gcan!": "echo '\\e[31mUse \\e[1;31mgcans!\\e[0m!' && return 1"
    oh_my_zsh:
      plugins:
        - git
        - docker
        - docker-compose
        - yarn
        - npm
        - php
        - aws
        - command-not-found
        - pre-commit
      theme: "robbyrussell"
  # Nix packages for development
  nix_packages:
    # Tools
    - gnumake
    - git
    - act
    - jq
    - gh
    - just
    - fira-code
    - fira-code-symbols
    - bitwarden-cli
    - lima
    # PHP
    - php
    # JS
    - yarn
    - pnpm
    # Docker and Kubernetes
    - docker
    - docker-compose
    - dive
    - helm
  # Environment variables
  environment:
    EDITOR: "nvim"
    BROWSER: "chromium"
    TERMINAL: "gnome-terminal"

# Media domain
media:
  flatpak:
    - com.spotify.Client
    - org.videolan.VLC
  favorites:
    - com.spotify.Client.desktop

# Utility domain
utility:
  apt:
    - ucaresystem-core
  flatpak:
    - org.jdownloader.JDownloader
    - com.github.hluk.copyq
    - org.gnome.SimpleScan
    - org.gnome.DejaDup
    - com.bitwarden.desktop
    - org.libreoffice.LibreOffice
  favorites:
    - com.github.hluk.copyq.desktop
    - com.bitwarden.desktop.desktop

# Secrets management
bitwarden:
  server: "https://vault.bitwarden.eu"
  email: "{{ BITWARDEN_EMAIL | default('') }}"
  password: "{{ BITWARDEN_PASSWORD | default('') }}"
  client_id: "{{ BITWARDEN_CLIENT_ID | default('') }}"
  client_secret: "{{ BITWARDEN_CLIENT_SECRET | default('') }}"
  # yamllint disable-line rule:comments rule:line-length
  sshKeysCollectionId: "7ac0c067-9d61-49c0-b01e-b10d0135372a" # gitleaks:allow - it is an ID
  # yamllint disable-line rule:comments rule:line-length
  gpgKeysCollectionId: "9ff2a152-3c88-44cd-a04b-b11d00c8b267" # gitleaks:allow - it is an ID
