[core]
    editor = code --wait

[diff]
    tool = default-difftool
    
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[help]
    autocorrect = 1

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[rerere]
    enabled = true

[user]
    name = {{ git_name }}
    email = {{ git_email }}
    signingkey = {{ git_signing_key }}

[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential

{% for include_item in git_includes %}
{% set include_path = dev_projects_directory ~ '/' ~ include_item %}

[includeIf "gitdir:{{ include_path }}/**"]
    path = {{ include_path }}/.git/.gitconfig

{% endfor %}
