---
name: Shared - Continuous Integration for common tasks

"on":
  workflow_call:
    inputs:
      sign-images:
        required: true
        type: boolean

permissions: {}

jobs:
  lint:
    # yamllint disable-line rule:line-length
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@5f11437c716059f30c635f90055060e4ef8b31a0 # 0.28.0
    permissions:
      actions: read
      contents: read
      statuses: write
      security-events: write

  build-test-image:
    # yamllint disable-line rule:line-length
    uses: hoverkraft-tech/ci-github-container/.github/workflows/docker-build-images.yml@e44dc0064b073031aa93d8f0d4aea040a7c3ba7d # 0.29.0
    permissions:
      contents: read
      packages: write
      issues: read
      pull-requests: read
      # FIXME: This is a workaround for having workflow actions.
      # See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      oci-registry: ${{ vars.OCI_REGISTRY }}
      sign: ${{ inputs.sign-images }}
      images: |
        [
          {
            "name": "test-ci",
            "context": "./docker/test",
            "dockerfile": "Dockerfile",
            "platforms": ["linux/amd64"]
          }
        ]
    secrets:
      oci-registry-password: ${{ secrets.GITHUB_TOKEN }}

  tests-vm:
    needs: [lint, build-test-image]
    uses: ./.github/workflows/__tests-vm.yml
    with:
      # yamllint disable-line rule:line-length
      test-image: ${{ fromJSON(needs.build-test-image.outputs.built-images).test-ci.images[0] }}
    permissions:
      contents: read
    secrets: inherit
