name: Main - Continuous Integration

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  clean:
    uses: hoverkraft-tech/ci-github-container/.github/workflows/prune-pull-requests-images-tags.yml@d706f273f42e4b4b0caf1b3a385cb8b9cb058fa0 # 0.30.2
    permissions:
      contents: read
      packages: write
      issues: read
      pull-requests: read
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      images: '["ansible-ci","ubuntu-ci","git-ci"]'

  ci:
    name: Continuous Integration
    uses: ./.github/workflows/__shared-ci.yml
    permissions:
      actions: read
      contents: read
      statuses: write
      security-events: write
      packages: write
      issues: read
      pull-requests: read
      # FIXME: This is a workaround for having workflow actions. See https://github.com/orgs/community/discussions/38659
      id-token: write
    with:
      sign-images: true
    secrets: inherit
