# Renovate Updates
# ==========================
# Workflow to run Renovate for updating Ansible dependencies.

name: Renovate Updates
on:
  workflow_dispatch:
  schedule:
    # Runs "at 04:00, only on Friday" (see https://crontab.guru)
    - cron: "0 4 * * 5"

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      security-events: write
      checks: write
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: renovatebot/github-action@3c68caaa9db5ff24332596591dc7c4fed8de16ce # v46.0.1
        with:
          configurationFile: .github/renovate/renovate-config.json5
          token: ${{ github.token }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository}}
