# Renovate Updates
# ==========================
# Workflow to run Renovate for updating Ansible dependencies.

name: Renovate Updates
on:
  workflow_dispatch:
  schedule:
    # Runs "at 04:00, only on Friday" (see https://crontab.guru)
    - cron: "0 4 * * 5"

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      security-events: write
      checks: write
      statuses: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: renovatebot/github-action@8b7941943a108b2cc2150730963164aa8baeab8c # v44.2.2
        with:
          configurationFile: .github/renovate/renovate-config.json5
          token: ${{ github.token }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository}}
