# Renovate Updates
# ==========================
# Workflow to run Renovate for updating Ansible dependencies.

name: Renovate Updates
on:
  workflow_dispatch:
  schedule:
    # Runs "at 04:00, only on Friday" (see https://crontab.guru)
    - cron: "0 4 * * 5"

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      security-events: write
      checks: write
      statuses: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          configurationFile: .github/renovate/renovate-config.json5
          token: ${{ github.token }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository}}
